@import "globals";

div.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  nav.global {
    padding: 10px 3px;
    width: 100%;
    display: flex;
    
    .logo {
      width: 100px;
      flex: none;
    }

    .search {
      width: 100px;
      flex: none;
    }

    button {
      width: 100px;
      margin-left: auto;
      margin-right: 10px;
    }

  }
}



div.whoops-404 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: red;
  color: white;
}
